/* Header */

.header {
  display: flex;
  width: 100vw;
  height: 20rem;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  padding: 0 40rem;
}

.navigation {
  width: 100%;
}
