/* Header */

.header {
  display: flex;
  width: 100vw;
  height: 20rem;
  position: absolute;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40rem;
  background: linear-gradient(
    180deg,
    rgb(53, 53, 53) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.header__logo {
  height: auto;
  width: 25%;
}

.navigation {
  width: 50%;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation__list-item {
  display: block;
}

.navigation__link {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
}
