@viewport {
    width: device-width ;
    zoom: 1.0 ;
} 

:root {
    --header-height: 100px;
}

.headerbackground {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin: 10px;
    overflow-x: hidden;
    height: var(--header-height);
}

.headerlogo {
    height: 100px;
    width: auto;
    margin-left: 20px;
}

.headerbutton {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    margin-left: -20px;
    font-size: 25px;
}

.body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0px;
    margin-top: -20px;
    overflow-x: hidden;
}

.welcomediv {
    background-image: url(media/welcomephoto.jpg);
    background-repeat: no-repeat;
    position: relative;
    top: calc(var(--header-height)  * -1);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.welcomeh1 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    height: 100px;
}

.welcomeh1div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    background-color: #83838383;
    height: 400px;
    border-radius: 15px;
}

.insideheader {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.insideheaderlight {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
    font-size: 35px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: -40px;
}

.paragraph {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
}

.longparagraph {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 100px;
    letter-spacing: 1px;
    line-height: 35px;
}

.teamcards {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
}

.person {
    background-color: rgba(128, 128, 128, 0.432);
    width: 300px;
    height: 150px;
    justify-content: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.name {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.persondescription {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.76);
    font-size: 20px;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -10px;
}

.sponsorshipdiv {
    display: flex;
    flex-direction: row;
}

.footerdiv {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.footertext {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-top: 20px;
}

.footericon {
    margin: 10px;
    font-size: 30px;
}

@media screen and (max-width:1130px) {
    .headerlogo {
        height: 80px;
        margin-left: 20px;
    }
    
    .headerbutton {
        font-size: 20px;
    }

    .welcomeh1 {
        font-size: 40px;
    }
    
    .welcomeh1div {
        width: 700px;
        height: 350px;
    }
    
    .insideheader {
        font-size: 40px;
        margin-top: 70px;
    }
    
    .insideheaderlight {
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: -40px;
    }
    
    .paragraph {
        font-size: 20px;
    }
    
    .longparagraph {
        font-size: 20px;
        margin-left: 140px;
        margin-right: 140px;
        margin-top: 70px;
        letter-spacing: 0.5px;
        line-height: 35px;
    }
    
    .teamcards {
        margin: 40px;
    }
    
    .person {
        width: 280px;
        height: 130px;
        border-radius: 15px;
        margin: 40px;
    }
    
    .name {
        font-size: 20px;
    }
    
    .persondescription {
        font-size: 17px;
    }
    
    .footerdiv {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        padding-bottom: 20px;
    }
    
    .footertext {
        color: white;
        font-size: 17px;
        margin-top: 20px;
    }

}

@media screen and (max-width:980px) {

    .headerbackground {
        padding-right: -15px;
    }
    
    .headerlogo {
        height: 70px;
        margin-left: 20px;
    }
    
    .headerbutton {
        font-size: 17px;
    }

    .welcomeh1 {
        font-size: 30px;
    }
    
    .welcomeh1div {
        width: 500px;
        height: 250px;
    }
    
    .insideheader {
        font-size: 35px;
        margin-top: 60px;
    }
    
    .insideheaderlight {
        font-size: 25px;
        margin-top: 70px;
        margin-bottom: -20px;
    }
    
    .paragraph {
        font-size: 17px;
    }
    
    .longparagraph {
        font-size: 17px;
        margin-left: 120px;
        margin-right: 120px;
        margin-top: 60px;
        letter-spacing: 0.3px;
        line-height: 27px;
    }
    
    .teamcards {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .person {
        width: 220px;
        height: 100px;
        border-radius: 15px;
        margin: 25px;
    }
    
    .name {
        font-size: 17px;
    }
    
    .persondescription {
        font-size: 15px;
    }
    
    .footerdiv {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        padding-bottom: 20px;
    }
    
    .footertext {
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }

    .footericon {
        margin: 7px;
        font-size: 25px;
    }
}

@media screen and (max-width:850px) {
    
    .headerlogo {
        height: 60px;
        margin-left: 20px;
    }
    
    .headerbutton {
        font-size: 15px;
    }

    .welcomeh1 {
        font-size: 30px;
    }
    
    .welcomeh1div {
        width: 500px;
        height: 250px;
    }
    
    .insideheader {
        font-size: 35px;
        margin-top: 60px;
    }
    
    .insideheaderlight {
        font-size: 25px;
        margin-top: 70px;
        margin-bottom: -20px;
    }
    
    .paragraph {
        font-size: 17px;
    }
    
    .longparagraph {
        font-size: 17px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;
        letter-spacing: 0.3px;
        line-height: 27px;
    }
    
    .teamcards {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .person {
        width: 220px;
        height: 100px;
        border-radius: 15px;
        margin: 25px;
    }
    
    .name {
        font-size: 17px;
    }
    
    .persondescription {
        font-size: 15px;
    }
    
    .footerdiv {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        padding-bottom: 20px;
    }
    
    .footertext {
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }

    .footericon {
        margin: 7px;
        font-size: 25px;
    }
}

@media screen and (max-width:780px) {

    .headerlogo {
        height: 60px;
        margin-left: 10px;
    }
    
    .headerbutton {
        font-size: 15px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .welcomeh1 {
        font-size: 30px;
    }
    
    .welcomeh1div {
        width: 500px;
        height: 250px;
    }
    
    .insideheader {
        font-size: 35px;
        margin-top: 60px;
    }
    
    .insideheaderlight {
        font-size: 25px;
        margin-top: 70px;
        margin-bottom: -20px;
    }
    
    .paragraph {
        font-size: 17px;
    }
    
    .longparagraph {
        font-size: 17px;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 60px;
        letter-spacing: 0.3px;
        line-height: 27px;
    }
    
    .teamcards {
        margin-left: 70px;
        margin-right: 70px;
    }
    
    .person {
        width: 220px;
        height: 100px;
        border-radius: 15px;
        margin: 25px;
    }
    
    .name {
        font-size: 17px;
    }
    
    .persondescription {
        font-size: 15px;
    }
    
    .footerdiv {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        padding-bottom: 20px;
    }
    
    .footertext {
        color: white;
        font-size: 15px;
        margin-top: 20px;
    }

    .footericon {
        margin: 7px;
        font-size: 25px;
    }
}

@media screen and (max-width:690px) {

    .headerlogo {
        height: 90px;
        position: relative;
        left: -5px;
    }
    
    .headerbutton {
        display: none;
    }

    .headerbackground {
        justify-content: center;
    }

    .longparagraph {
        font-size: 17px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
        letter-spacing: 0.3px;
        line-height: 27px;
    }

    .paragraph {
        margin-left: 60px;
        margin-right: 60px;
    }

    .teamcards {
        margin-left: 30px;
        margin-right: 30px;
    }

}


@media screen and (max-width:650px) {
    .welcomeh1 {
        font-size: 25px;
    }
    
    .welcomeh1div {
        width: 400px;
        height: 230px;
    }
}

@media screen and (max-width:570px) {
    .longparagraph {
        margin-left: 50px;
        margin-right: 50px;
    }

    .paragraph {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width:570px) {
    .welcomeh1 {
        font-size: 25px;
    }
    
    .welcomeh1div {
        width: 300px;
        height: 250px;
    }

    .longparagraph {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .paragraph {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width:400px) {
    .welcomeh1 {
        font-size: 22px;
    }
    
    .welcomeh1div {
        width: 270px;
        height: 250px;
    }
}

