/*Standart Elements Start*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

/*Standart Elements End*/

/*Header Start*/

header {
  padding: 0 40rem;
  width: 100vw;
  height: 20rem;
  position: fixed;
  top: 0;
  background: linear-gradient(
    180deg,
    rgb(53, 53, 53) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.header__image {
  width: 30%;
  height: auto;
  margin-left: 0;
}

nav.header__navigation {
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

ul.header__list {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

li.header__list-item {
  display: block;
}

a.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 100;
}

/*Header End*/

/*Section Hero Start*/

section.section-hero {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.6),
      rgb(255, 255, 255, 0.6)
    ),
    url(../../components/images/section-hero.png);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

/*Section Hero End*/
