/*Standart Elements Start*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

*.heading-primary {
  font-size: 2em;
  font-weight: 700;
}

*.text-primary {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

/*Standart Elements End*/

/*Header Start*/

header {
  padding: 0 40rem;
  width: 100vw;
  height: 20rem;
  position: absolute;
  top: 0;
  background: linear-gradient(
    180deg,
    rgb(53, 53, 53) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.header__image {
  max-width: 30%;
  height: auto;
  margin-left: 0;
  object-fit: cover;
}

nav.header__navigation {
  display: flex;
  align-self: center;
  justify-self: flex-end;
}

ul.header__list {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

li.header__list-item {
  display: block;
}

a.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 100;
}

/*Header End*/

/*Section Hero Start*/

section.section-hero {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.6),
      rgb(255, 255, 255, 0.6)
    ),
    url(../../components/section-hero.webp);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

div.section-hero__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 10rem;
  padding: 0 40rem;
  gap: 10rem;
}

div.content__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1.section-hero__heading {
  display: grid;
  text-align: flex-start;
}

p.section-hero__slogan {
  display: grid;
  text-align: right;
  font-weight: 700;
  font-size: 2em;
}

div.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button.testimonials__button {
  background: transparent;
  border: none;
}

svg.testimonials__icon {
  font-size: 4.8rem;
}

p.testimonials__text {
  font-size: 3rem;
}

/*Section Hero End*/

/*Main Start*/

main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(222, 222, 222, 209);
  padding: 15rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20rem;
}

/*About Us Start*/

section.section-about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 0 25rem;
  gap: 4rem;
}

/*About Us End*/

/*Projects Start*/

section.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 0 25rem;
  gap: 4rem;
}

div.teams-container{
  width: 100vw;
  height: auto;
  padding: 0 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*Projects End*/
