/*Standart Elements Start*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

/*Standart Elements End*/

/*Header Start*/

header {
  width: 100vw;
  height: 20rem;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, rgb(53, 53, 53) 0%, rgba(217, 217, 217, 0) 100%);
}

img.header__image {
  width: 15%;
  height: auto;
}

li.header__list-item {
  display: block;
}

/*Header End*/

/*Section Hero Start*/

section.section-hero {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.6),
      rgb(255, 255, 255, 0.6)
    ),
    url(../../components/images/section-hero.png);
  background-size: cover;
  background-position: center;
}

/*Section Hero End*/
