/*Classic Elements*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif; }

.heading-primary {
  font-size: 3rem;
  font-weight: 600; }

.text-primary {
  font-size: 2.5rem;
  font-weight: 500; }

/* Header */
.header {
  display: flex;
  width: 100vw;
  height: 20rem;
  position: absolute;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40rem;
  background: linear-gradient(180deg, #353535 0%, rgba(217, 217, 217, 0) 100%); }

.header__logo {
  height: auto;
  width: 25%; }

.navigation {
  width: 50%; }

.navigation__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.navigation__list-item {
  display: block; }

.navigation__link {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500; }

/*Section Hero*/
body {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../../../components/section-hero.webp");
  background-size: cover;
  background-position: center; }

.section-hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  padding: 0 40rem;
  gap: 3rem; }

.section-hero__testimonials-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30rem; }

.section-hero__slogan-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.slogan-div__chevron-button {
  background: transparent;
  border: none;
  font-size: 4rem; }
